
*   text=auto

.gitignore      text eol=lf
.gitattributes  text eol=lf
*.sh            text eol=lf
*.bat           text eol=crlf
*.FBX	filter=lfs diff=lfs merge=lfs -text
*.PNG	filter=lfs diff=lfs merge=lfs -text
*.UASSET	filter=lfs diff=lfs merge=lfs -text
*.UMAP	filter=lfs diff=lfs merge=lfs -text
*.fbx	filter=lfs diff=lfs merge=lfs -text
*.pkmm	filter=lfs diff=lfs merge=lfs -text
*.pkan	filter=lfs diff=lfs merge=lfs -text
*.pkfm	filter=lfs diff=lfs merge=lfs -text
*.pksa	filter=lfs diff=lfs merge=lfs -text
*.pksc	filter=lfs diff=lfs merge=lfs -text
*.png	filter=lfs diff=lfs merge=lfs -text
*.uasset	filter=lfs diff=lfs merge=lfs -text
*.umap	filter=lfs diff=lfs merge=lfs -text
*.wav	filter=lfs diff=lfs merge=lfs -text
